.navauth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.link.active {
  color: #880b1c;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px grey;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: lightcyan;
  }
}
