.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  position: absolute;
  top: 440px;
  left: -120%;
  transform: translate(-50%);
  font-weight: 700;
  font-size: 45px;
}
